defaults: &defaults
  name: braintree
  test: true
  options:
    merchant_id:
    public_key:
    private_key:

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
  test: false
